
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2d4d4;
}

.navbar{
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(161, 159, 159);
    padding: 10px;
    font-size:40px;
    padding-left: 50px;
}

.list{
    color: #3087f1;
}

.addnewtask{
    position:absolute;
    top: 100px;
    right: 100px;  
}

.one{
    color: #3087f1;
    font-size: 28px;
    padding-left: 200px;
    text-decoration: none;
}

.one1{
    color: black;
    font-size: 25px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 300px;
    gap: 20px;
    width: 1000px;
    height: 500px;
    margin-top: 100px;
    
}

.box{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    border: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px #888888;
}

.trip{
    text-decoration: none;
    color: #3087f1;
}

h3{
    color: #3087f1;
    padding: 15px;
    font-size: 20px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;  
}
.text{
    text-decoration: line-through;
    color: gray;
    font-size: 15px;
    padding: 10px;
}

.text1{
    color: black;
    font-size: 15px;
    padding: 10px;
}

.parent{
    filter: blur(3px);
}

.addtask{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 40%;
    top: 200px;
    padding: 20px;  
    box-shadow: 0px 0px 10px 2px #888888;
}

.new{
    width: 100px;
    background-color: #3087f1;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 70%;
}

.on{
    color: white;
    text-decoration: none;
}

input[type=text]{
    width: 90%;
    height: 25px;
    font-size: 100%;
    font-weight: 50px;
    border: 0;
    background-color: #eee9e9;
    padding: 5px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
}

.a{
    font-size: 25px;
    padding-top: 10px;  
}

.container3{
    position: absolute;
    top: 150px;
    right: 500px;
}

.box1{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    border: 0px;
    margin: 200px 0px 0px 600px;
    box-sizing: border-box; 
    box-shadow: 0px 0px 10px 2px #888888;
}

.cut{
    font-size: 30px;
    padding: 0px 0px 5px 5px;
    text-decoration: none;
    color: rgb(150, 148, 148);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;  
}

.rr{
    display: flex;   
}